amqp==1.4.9
anyjson==0.3.3
billiard==3.3.0.23
celery==3.1.25
click==6.7
click-plugins==1.0.3
cligj==0.4.0
colorama==0.3.9
cycler==0.10.0
dj-database-url==0.4.2
dj-static==0.0.6
Django==1.11
django-celery==3.2.1
django-colorful==1.2
django-filter==1.0.4
django-leaflet==0.22.0
django-raster==0.3.1
django-toolbelt==0.0.1
djangorestframework==3.6.3
djangorestframework-gis==0.11.2
enum34==1.1.6
Flask==0.12.1
flufl.enum==4.1.1
freeze==1.0.10
functools32==3.2.3.post2
gunicorn==19.7.1
heroku==0.1.4
html5lib==0.999999999
httpie==0.9.9
itsdangerous==0.24
Jinja2==2.9.6
jsonschema==2.6.0
kombu==3.0.37
lxml==3.7.3
MarkupSafe==1.0
numpy==1.12.1
olefile==0.44
Pillow==4.1.0
pkg-resources==0.0.0
psycopg2==2.7.1
Pygments==2.2.0
pyparsing==2.2.0
pyshp==1.2.11
python-dateutil==1.5
pytz==2017.2
requests==2.13.0
six==1.10.0
static3==0.7.0
webencodings==0.5.1
Werkzeug==0.12.1
whitenoise==3.3.0
